/*SKYPOSTAL DEFAULT CSS EXAMPLE*/


/* -- Display adjustments -- */
.margined-radio{
	margin-top: 5px;
	margin-right: 5px;
}
#form_section2,#form_section3{
	display:none;
}
.centered{
	text-align: center;
}

/* -- Notifications and alerts --*/
/*Invalid or required field in a form*/
.form-skypostal-apibox .is-invalid{
	 border:1px solid #dc3545;
}

.disabled, select:disabled {
	color: #1b1e21;
    background-color: #c6c8ca;
}

/* -- FORMS -- */
/*Panel title of each form group*/
.form-skypostal-apibox .title{	
	font-weight:bold;
	font-size:24px;
	padding:0;
	height:auto;
}
#date_of_birth{
	position:relative;
	z-index:2000;
}

.btn{
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn.btn-primary{
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    -webkit-appearance: button;
}

.btn.btn-secondary{
	color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn.btn-info{
	color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}


/*END API BOX CSS */
